.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
img {
  height: 200px;
}
ul {
  list-style: none;
  /* display: flex; */
  gap: 20px;
}
ul li {
  margin: 0
}
ul li a:hover {
  background-color: #555;
}